@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.page {
  min-height: 85vh;
  padding-top: 4rem;
}

a {
  color: black;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

li {
  list-style: none;
}

.burger {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 1s;
  transition: 1s;
}

.burger.open .slice:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.open .slice:nth-of-type(2) {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.burger.open .slice:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger .slice {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 300ms;
  transition: 300ms;
  width: 100%;
  height: 2px;
  background-color: black;
}

nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4rem;
  padding: 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

nav .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
}

nav li {
  margin-left: 1rem;
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.5rem;
}

nav li:hover {
  background-color: black;
  color: white;
}

nav li:hover a {
  color: white;
}

nav .nav-right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .mobile {
  position: absolute;
  right: 0px;
  top: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10rem;
  right: -10rem;
  -webkit-transition: right 300ms;
  transition: right 300ms;
}

nav .mobile li {
  padding: 1rem;
  padding-right: 5rem;
  background-color: white;
}

nav .mobile.open {
  right: 0rem;
}

.text-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 70vh;
  overflow: hidden;
}

.text-image .image {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  min-height: 40vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.text-image .image.active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.text-image .image .image-display {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.text-image .text {
  position: relative;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem;
}

.text-image .text.light {
  background-color: white;
  color: black;
}

.text-image .text.light .text-link {
  color: black;
}

.text-image .text .text-head {
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.text-image .text .text-body {
  margin-bottom: 1rem;
  font-weight: 300;
}

.text-image .text .text-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  line-height: 3rem;
  font-weight: 800;
  cursor: pointer;
}

.text-image .text .text-link:hover svg {
  margin-left: 3rem;
}

.text-image .text .text-link svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 0.5rem;
}

.four-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.four-squares .picture-square {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.four-squares .picture-square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.four-squares .picture-square:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.four-squares .picture-square:hover .text svg {
  margin-left: 5rem;
}

.four-squares .picture-square img {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.four-squares .picture-square .text {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 800;
  font-size: 0.7rem;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 3rem;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.four-squares .picture-square .text svg {
  margin-left: 1rem;
  -webkit-transition: margin 0.3s;
  transition: margin 0.3s;
}

.four-squares .picture-square .text.light {
  background-color: white;
  color: black;
}

.subscription {
  padding: 1rem;
  margin: 3rem 0px;
}

.subscription .subscription-text .head {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 800;
}

.subscription .subscription-text .body {
  font-weight: 300;
  max-width: 30rem;
  margin: 1rem 0px;
}

.subscription .subscription-bar {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription .subscription-bar .input {
  padding-left: 1rem;
  font-size: 1.5rem;
  display: block;
  width: 75%;
  -webkit-box-flex: 3;
      -ms-flex: 3 4;
          flex: 3 4;
  background-color: rgba(217, 217, 217, 0.5);
  color: rgba(0, 0, 0, 0.5);
  border: none;
}

.subscription .subscription-bar .button {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  padding: 0px 1rem;
  display: block;
  width: 25%;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-size: 1rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}

.subscription .subscription-bar .button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.subscription .subscription-bar .button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.footer {
  width: 100%;
  min-height: 10rem;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer div {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.footer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.footer .nav a {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.5rem;
}

.footer .info {
  margin-top: auto;
  margin-left: auto;
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 17px;
  }
  .text-image {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .text-image.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .text-image .text {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
  }
  .text-image .image {
    height: auto;
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

@media only screen and (min-width: 800px) {
  html {
    font-size: 18px;
  }
  .text-image {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .text-image .text {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  .text-image .image {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
  }
  .four-squares .picture-square {
    width: 25%;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 19px;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}
/*# sourceMappingURL=globals.css.map */